{
  # Global Caddy configuration.
  email you@example.com
}

https://fractal.dev.local {
  tls internal

  handle /api/* {
    reverse_proxy backend:3000
  }

  handle {
    reverse_proxy frontend:5173
  }
}
